@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Literata:wght@500&family=PT+Serif:wght@700&family=Roboto&display=swap');

body {
    background-color: #fcf9cd;
    background-image: url("/src/assets/background.png");
}

.head-para {
    margin-left: 0;
    text-align: justify;
}

.col {
    padding: 0;
}

.loader {
    margin-top: 10rem !important;
}

@media (max-width: 400px) {   
   .navbar-container {
        flex-direction: column !important;
        text-align: center;
   }
}

.navbar-link {
    font-size: 1.3rem;
    font-weight: 500;
    color: #000 !important;
}

@media (max-width: 400px) {
    .navbar-link {
        display: block;
        width: 100%;
    } 
}

.navbar-link:hover {
    color: #544179 !important;
}

.navbar-brand {
    font-size: 1.6rem;
    font-weight: 600;
    color: #000;
}

@media (max-width: 400px) {
    .navbar-brand {
        padding-left: 15px;
    }
}

.search-row {
    justify-content: center;
}

.button-col {
    margin-top: 20px;
}